{:linters
 {:consistent-alias
  {:level :warning
   :aliases {clojure.java.io io
             clojure.set set
             clojure.string str
             manifold.deferred d
             manifold.stream s
             multiformats.hash multihash}}

  :unresolved-symbol
  {:exclude [(test.carly.core/defop)]}

  ;; https://github.com/borkdude/clj-kondo/issues/678
  :private-call
  {:level :info}}

 :lint-as
 {manifold.deferred/loop clojure.core/loop}}
